@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Rambla);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
html, body {height: 100%;}
body {
	font-family: 'Lato', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.25);
}

*, *:after, *:before {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    -moz-appearance: none;
    -moz-text-size-adjust: none;
    border: 0 none;
    font-size: 100%;
    font-size-adjust: none;
    margin: 0;
    outline: medium none;
    padding: 0;
    vertical-align: baseline;
}

.clear-fix{*zoom:1}
.clear-fix:before,.clear-fix:after{display:table; content:"";   line-height: 0;}
.clear-fix:after{clear:both}

a{
	outline:none;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	}
	
a:focus{outline:none;}

div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
    display: block;
    overflow: hidden;
    /*position: relative;*/
}

.no-border{	border-bottom:none!important;}

.bg01{
	background-image: url(../images/pageBg01.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.loginBg01 {
	background-attachment: fixed;
	background-image: url(../images/loginBg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}


.blur { 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px); 
	-o-filter: blur(3px); 
	-ms-filter: blur(3px); 
	filter: blur(3px);
	background-size:cover;
}

.all-elements {	overflow-x: hidden;	/*height:100%;*/}
.fullHeight {height:100%;}
.page-header {
	background: rgba(159,21,36,.9);
	box-shadow: 0 3px 2px 2px rgba(0, 0, 0, 0.2);
	height: 60px;
	/*margin-bottom: 20px;*/
	position:fixed;
	width:100%;
	z-index:1000;
	top:0px;
	left:0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.page-header .head {
	font-family: 'Rambla', sans-serif;
	font-size: 200%;
	color: #FFF;
	text-align: center;
	margin: 0px;
	line-height: 60px;
}

#content{
	top:30px; 
	left:0; 
	bottom:0px; 
	position:absolute; 
	overflow: auto; 
	width:100%;
	/*height:100%;*/
	-webkit-overflow-scrolling: touch;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	}
	
.deploy-sidebar{
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url(../images/deploy-menu.png);
	background-size: 32px 22px;
	background-repeat: no-repeat;
	background-position: 15px 19px;
	width: 60px;
	height: 60px;
	background-color: rgba(0,0,0,.9);
}

.back {
	position: absolute;
	top: 0px;
	background-image: url(../images/back-btn.png);
	background-size: 16px 27px;
	background-repeat: no-repeat;
	background-position: 16px 16px;
	width: 60px;
	height: 60px;
	left: 0px;
}

.pad1{padding:1.2%}
.pad3 {padding: 2.5%;}

.mLR1 {	margin:0 3.5%;}
.mTop10 {margin-top: 10px;}
.mTop15 {margin-top: 15px;}

.mTop20 {margin-top: 20px;}
.mBtm20 {margin-bottom: 20px !important;}

.clearFix {	line-height: 0px; clear: both;	font-size: 0px;}

.pure-table, .pure-table thead{	background:rgba(255,255,255,.15) !important; color:#fff !important}
.pure-table thead{ font-family: 'Rambla', sans-serif;}
.pure-table {border:0}

.pure-table-horizontal td,.pure-table-horizontal th{
	border-width:0 0 1px; border-bottom:1px solid rgba(51,51,51,.5) !important;
	}
.pure-table td, .pure-table th{padding: 10px 12px !important;}
.pure-table td:last-child{ background:url(../images/table-arrow.png) no-repeat right center}
.profile-details {	padding: 0 7%;	font-size: 150%;}
.profile-details p:first-child{ margin-top:0px;}

#sidebar a.active{background-color: #901a23; box-shadow: 6px 1px 4px rgba(0, 0, 0, 0.6) inset;}
#sidebar i {
	height: 45px;
	width: 68px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 32px;
}

#sidebar .dashBoard-ico {background-image: url(../images/dashboard-ico.png);}

#sidebar .myProfile-ico {background-image: url(../images/myProfile-ico.png);}

#sidebar .bookings-ico {background-image: url(../images/bookings-ico.png);}

#sidebar .works-ico {background-image: url(../images/works-ico.png);}

#sidebar .calender-ico {background-image: url(../images/calender-ico.png);}

.tabs {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	overflow-y:visible !important;
}

.tabs li {	list-style-type: none;	display: block;	/*float: left;*/}

.tabs li a {
	font-family: 'Rambla', sans-serif;
	font-size: 150%;
	display: block;
	float: left;
	text-align: center;
	padding : 2.6% 0;
	color: #FFF;
	text-decoration: none;
	border-bottom:1px solid rgba(51,51,51,.5);
	border-right:1px solid rgba(51,51,51,.5);
	position:relative;
	overflow:visible !important;
}

.tabs li a:after { 
	border-color: rgba(136, 183, 213, 0); 
	border-top-color: #88b7d5; 
	border-width: 30px; 
	left: 50%;
	margin-left: -30px; 
}

.tabs li:last-child a{border-right:0}

.tabs li a.active {	background: rgba(159,21,36,.9);}

.tabs.tab-1-2 li a {width: 49.90%;}

.tabs.tab-1-3 li a {width: 33.33333%;}

.tabs.tab-1-4 li a {width: 24.90%;}

.tabs.tab-1-5 li a {width: 19.90%;}

.tabs li a .arrow{
	position: absolute;
	  width: 0;
	  height: 0;
	  border-color: transparent;
	  border-style: solid;
	bottom: -10px;
	  left: 50%;
	  margin-left: -10px;
	  border-top-color: #911a22;
	  border-width: 10px 10px 0;
	  display:none;
}
.tabs li a.active .arrow{display:block;}
.tabContentWrapper div {font-size: 125%; /*-webkit-transform: translateZ(0);*/}
.transBg{background:rgba(0,0,0,0.5);}
.tabBg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
	float:left;
    /*position: fixed;*/
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 2;
}
.tabBg.pad{padding:1.4%}

.tabs02 {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
	overflow-y: visible !important;
}

.tabs02 li {list-style-type: none;	display: block;}
.tabs02 li a {
	font-family: 'Rambla', sans-serif;
	font-size: 150%;
	display: block;
	float: left;
	text-align: center;
	padding : 2% 0;
	color: #FFF;
	text-decoration: none;
	border-right: 1px solid rgba(51,51,51,.5);
	position: relative;
	overflow: visible !important;
}

.tabs02 li a:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
}

.tabs02 li:last-child a {border-right: 0}
.tabs02 li a.active {background: rgba(159,21,36,.9);}
.tabs02.tab-1-2 li a {width: 49.90%;}
.tabs02.tab-1-3 li a {width: 33.33333%;}
.tabs02.tab-1-4 li a {	width: 24.90%;}
.tabs02.tab-1-5 li a {width: 19.90%;}

.tabContentWrapper2 div {font-size: 113%; /*-webkit-transform: translateZ(0);*/}

.pgMrgTop{/*margin-top:60px*/ top:60px !important}
.pgMrgTop2 {margin-top:68px !important}

.moreLink01 {color: #FFF; text-decoration: underline; float: right;}
.moreLink01:active{text-decoration:none}
.bookingTable{margin-top:20px;-moz-box-shadow:0 0 2px #000;	box-shadow:0 0 2px #000;}
.bookingTable h2 {
	font-size:22px;
	background-color: #901a22;
	padding: 10px 6px 10px 10px;
	margin: 0px;
	
}
.bookingTable h2 span { float:right; letter-spacing:1px}
.bookingTable:first-child h2 span {letter-spacing:2px}
.bookingTable .table-wrapper {display:none}
.bookingTable .pure-table, .bookingTable .pure-table thead {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.38) !important;
    color: #FFFFFF !important;
}

.page-sidebar-scroll {
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu { background: #333333; position: fixed;  box-shadow: 6px 1px 4px rgba(0, 0, 0, 0.6) inset;}

.cbp-spmenu-vertical {
	width: 115px;
	height: 100%;
	top: 0;
	z-index: 1000;
	/*-webkit-transform: translateZ(0);*/
}

.cbp-spmenu-vertical a {
	font-family: 'Rambla', sans-serif;
	font-size:115%;
	border-bottom: 1px solid #454545;
	 padding: 1.5em 1em;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	display:block;
}

.cbp-spmenu-right {	right: -125px;}

.cbp-spmenu-right.cbp-spmenu-open {	/*right: 0px;*/
-moz-transform: translate3d(-125px,  0px,0px);
	-webkit-transform: translate3d(-125px,  0px,0px);
	-o-transform: translate3d(-125px,  0px,0px);
	transform: translate3d(-125px,  0px,0px);
}

.cbp-spmenu-push { overflow-x: hidden;	position: relative;	left: 0;}

.cbp-spmenu-push-toleft {/*left: -115px;*/
	-moz-transform: translate3d(-115px,  0px,0px);
	-webkit-transform: translate3d(-115px,  0px,0px);
	-o-transform: translate3d(-115px,  0px,0px);
	transform: translate3d(-115px,  0px,0px);
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#loginFormWrapper {
	max-width: 490px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
	/*overflow:visible;*/
}

#loginFormWrapper .outerWrapper {
	display: table;
	width: 100%;
	height:100%;
	/*overflow:visible;*/
}

#loginFormWrapper .outerWrapper .innerWrapper {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height:100%;
	/*overflow:visible;*/
}
.loginBox {
	background: #FFF;
	padding: 7% 6% 4%;
	display: block;
	width: 99%;
	border-radius:5px;
	margin-top:12px;
	box-shadow:1px 2px 2px #000;
	position:relative;
	overflow:visible;
}

.loginBox .arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 21.5px 28px 21.5px;
	border-color: transparent transparent #fff transparent;
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-21px

}

#loginFormWrapper #fbBtn {
	margin: 20px auto 0;
	text-align:center;
	width:68%;
}

.baseLink {
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	white-space: nowrap;
	width: 100%;
	font-size: 18px;
	color: #FFF;
	margin-bottom:15px;
	overflow:visible;
}
.baseLink a{display:inline}
.blackLink {font-size: 14px;color: #000;}

.white-link{color:#fff;}

.blackInput {
	font-family: 'Lato', sans-serif !important;
	color: #FFF !important;
	background-color: #000 !important;
	border: 0px none !important;
	padding: 3% 4% !important;
	border-radius:5px !important;
	width:100% !important;
}

.redBtn {
	font-family: 'Rambla', sans-serif;
	font-size: 18px;
	color: #ffffff;
	padding: 2.4% 10%;
	background: #d4291d;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#d4291d), to(#a61217));
	background: -webkit-linear-gradient(#d4291d, #a61217);
	background: -moz-linear-gradient(#d4291d, #a61217);
	background: -ms-linear-gradient(#d4291d, #a61217);
	background: -o-linear-gradient(#d4291d, #a61217);
	background: linear-gradient(#d4291d, #a61217);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #000000;
	-moz-box-shadow:
		1px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		1px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		1px 1px 2px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	/*-webkit-transform: translateZ(0);*/
	/*-webkit-transform: translate3d(0,0,0);*/
}
.redBtn:active{
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(79,0,0,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(79,0,0,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 1px 1px 5px rgba(79,0,0,1);
	}
	
.loginBox .redBtn{padding: 2.5% 29%;}
.left {	float: left;}
.right {float: right;}
.pad10 {padding: 10px;}
.pad2 {padding: 4.5%;}
.no-pad {padding: 0px !important;}

.rField {display:inline; font-size:110%; width: 62%; float:left}
.pure-form-aligned .pure-control-group {margin-bottom: 1em !important;}
.pure-form-aligned .pure-control-group label{width: 33% !important; float:left; text-align: left !important; font-size:110%}

input, textarea, select{
	border:0 !important; 
	background:rgba(255,255,255,.5) !important; 
	display:inline !important; 
	box-shadow:none !important;
	border-radius:0 !important;
	color:#fff;
}
.pure-button{padding: 0.5em 15% !important;}
.pure-green, .pure-green:hover {
	color:#fff;
	background: #56b43a;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#56b43a), to(#347f23));
	background: -webkit-linear-gradient(#56b43a, #347f23);
	background: -moz-linear-gradient(#56b43a, #347f23);
	background: -ms-linear-gradient(#56b43a, #347f23);
	background: -o-linear-gradient(#56b43a, #347f23);
	background: linear-gradient(#56b43a, #347f23);
}

.pure-red, .pure-red:hover {
	color:#fff;
	background: #be2331;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#be2331), to(#961622));
	background: -webkit-linear-gradient(#be2331, #961622);
	background: -moz-linear-gradient(#be2331, #961622);
	background: -ms-linear-gradient(#be2331, #961622);
	background: -o-linear-gradient(#be2331, #961622);
	background: linear-gradient(#be2331, #961622);
}
.rField.columns .pure-u-1-2{width:49%; display:inline-block}
.rField.columns .pure-u-1-3{width:32.3555%; display:inline-block}

.black-text{
	color:#000000;
}

#bookingRqst input{width:70%}
#bookingRqst textarea{width:100%}

.error {font-size: 13px;}

@media only screen and (max-width : 360px) {

	.pad2 {padding: 4.5%;}
	.rField {display:inline; font-size:90%; width: 62%; float:left}
	.pure-form-aligned .pure-control-group {margin-bottom: .7em !important;}
	.pure-form-aligned .pure-control-group label{
		width: 33% !important; 
		float:left; 
		text-align: left !important; 
		font-size:90%;
		}
	 .pure-form-aligned.grid2 .pure-control-group label{width:36% !important}
    .grid2 .rField{width:58% !important}
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.page-header { height:48px}
	.page-header .head {font-size:150%; line-height:48px}
	#content{/*margin-top:62px*/}
	.deploy-sidebar { background-position: 12px 16px;background-size: 26px 16px; width:48px; height: 48px;}
	.back{background-position: 14px 14px; background-size: 12px 20px; width:48px; height: 48px;}
	
	.profile-details {	padding: 0 7%;	font-size: 93%;}
	.tabs li a {font-size:93%}
	.tabContentWrapper div { font-size: 90%;}
	.tabs02 li a {font-size:104%}
	.tabContentWrapper2 div { font-size: 96% !important;}
	
	#sidebar i{background-size: auto 24px;height: 34px;}
 	.cbp-spmenu-vertical {font-size: 76%; width: 90px;}
	.cbp-spmenu-push-toleft {/*left:-90px;*/
	-moz-transform: translate3d(-90px, 0px,0px);
	-webkit-transform: translate3d(-90px, 0px,0px);
	-o-transform: translate3d(-90px, 0px,0px);
	transform: translate3d(-90px, 0px,0px);
	}

	#loginFormWrapper {max-width: 278px;}
	.baseLink {font-size: 0.735em;}
	#loginFormWrapper #fbBtn img {	margin: 0 auto; width:78%}
	.loginBox .mTop15 {margin-top: 10px;}
	.pure-form label {font-size: 84%;}
	.pure-button{padding: 0.5em 13% !important;}
	.pure-table td:last-child{background-size: auto 15px;}
	.bookingTable h2 {font-size:18px}
	.pgMrgTop{/*margin-top:44px*/ top:44px !important}
	.pure-table{font-size:90% !important}
}

/*@media only screen and (max-device-width : 320px) {*/
@media only screen and (max-width : 320px) {
	#profile-pic{width:40%}
	#profile-details{width:60%}
	.profile-details { font-size: 80%;  padding: 0 7%;} 
	.profile-details p:last-child{margin-bottom:0px}
	.cbp-spmenu-vertical a {padding: 0.9em 1em;}
	.tabs li a .arrow{border-width: 8px 8px 0; bottom: -8px;}
	.baseLink {font-size: 11px;}
	.pure-form-aligned .pure-control-group label{font-size:82%}
	.rField {display:inline; font-size:82%; width: 61%; float:left}
	.pure-button{padding: 0.5em 12% !important;}
	.pure-table td:last-child{background-size: auto 12px;}
	.pure-table{font-size:84% !important}
	.bookingTable h2 {font-size: 16px;}
	.pgMrgTop{/*margin-top:44px*/ top:44px !important}

}

